@charset "UTF-8";
:root {
    --color1: #C76071;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #ECEBEB;
}
#name-header{
    color: var(--color1);
    margin-left: .400rem;
}
.conteiner {
    display: flex;
    justify-content: space-between;
}
.menu > a > li {
    list-style: none;
    margin: .500rem;
    text-transform: uppercase;
    font-size: .750rem;    
}
.menu{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    margin-top: .700rem;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    width: 390px;
}
div > a > li {
    font-weight: bold;
    color: #C76071;
}
.welcome > h1{
    text-align: center;
    margin-top: 2.5rem;
    color: var(--color1)
}

.welcome > p {
    text-align: center;
    font-size: 1rem;
    color: var(--color1);
    }
.welcome{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 250px;
    width: 100vw;
}