@charset "UTF-8";
:root {
    --color1: #C76071;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* NAV BAR */ 
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  .name-logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
/* NAV BAR */ 


body{
    background-color: #ECEBEB;
}
#name-header{
    color: var(--color1);
    margin-left: .400rem;
}
.conteiner {
    display: flex;
    justify-content: space-between;
}
.menu > li > a {
    font-weight: bold;
    margin: 1rem;
    text-transform: uppercase;
    font-size: .750rem;
    text-decoration: none;
    color: var(--color1);    
}
.menu > li{
    list-style: none;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    margin-top: .700rem;
}
.header{
    display: flex;
    align-items: center;
    width: 390px;
}
.welcome > h1{
    text-align: center;
    margin-top: 2.5rem;
    color: var(--color1)
}

.welcome > p {
    text-align: center;
    font-size: 1rem;
    color: var(--color1);
    }
.welcome{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 250px;
    width: 100vw;
}
.offer{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 250px;
    width: 100vw;
}
.offer > h1{
    text-align: center;
    margin-top: 2.5rem;
    color: var(--color1)
}
.offer > p{
    text-align: center;
    margin-top: 2.5rem;
    color: black;
}
/* HEADER OK */

.main-container{
    display: flex;
    justify-content: space-between;
    
}
.main-container > .main-text > h1{
    color: #C76071;
    justify-content: center;
}